[Unit]
Description=SSH Proxy Tunnel for acng to Host %i
Requires=network.target
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash -c "source /etc/acng-ssh-proxy/%i"
RestartSec=1s
Restart=always
User=acng

[Install]
WantedBy=multi-user.target
